* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("josh-hild-pQ5Ewyd9dCM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  display: block;
}
header {
  text-align: center;
  
}


/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(3, 3, 3);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="Submit"] {
  background-color: #302f2f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  justify-content: right;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 3, 3);
}

.text-muted {
  text-align: center;
  color: rgb(250, 246, 246);
  
}


